.sidebar-btn, .sidebar-btn-active
{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
  width: 92%;
  padding: 12px 20px;

  background-color: var(--red);
  font-size: var(--large-para);
  color: var(--bg-light-grey);
  text-decoration: none;
  border-radius: 12px;
}

.sidebar-btn:hover
{
  background-color: var(--sidebar-btn-hover);
}

.sidebar-btn img
{
  filter: invert(100%);
}

.sidebar-btn-active
{
  background-color: var(--active-btn);
  color: var(--red);
}

.sidebar-btn-active img
{
  filter: invert(6%) sepia(82%) saturate(5751%) hue-rotate(20deg) brightness(121%) contrast(120%);
}