:root
{
  /*colours*/
  --black: #1e1e1e;
  --red: #700000;
  --bg-light-grey: #ededed;
  --bg-white: #f4f4f4;
  --inner-shadow: #a4a4a470;
  --placeholder-txt-color: #ae8484;
  --active-btn: #e1b3b0;

  /*fonts*/
  --default-font: "Figtree";
  --fallback-font: sans-serif;
  /*font sizes*/
  --h1: 57.33px;
  --h2: 47.78px;
  --h3: 39.81px;
  --h4: 33.18px;
  --h5: 27.65px;
  --h6: 23.04px;
  --large-para: 19.2px;
  --regular: 16px;
  --small-para: 13.33px;
  /*font weights*/
  --light: 300;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  --header-letter-spacing: -0.3px;

  /*borders for testing*/
  --test-white: var(--bg-light-grey) 2px solid;
  --test-red: var(--red) 2px solid;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: var(--default-font), var(--fallback-font);
}